.theme-toggle-container {
    display: flex;
    flex-direction: column;
}

.theme-toggle-container .toggle {
    position: fixed;
    top: 2%;
    left: 95.5%;
    background-color: var(--color-floating);
    width: 50px;
    border-radius: 100px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    filter: var(--filter-invert);
    transition: ease 1s background-color, ease 500ms filter, ease 100ms scale;
}

.theme-toggle-container .logo {
    width: 15px;
    filter: var(--filter-invert);
}

.theme-toggle-container .moving-part {
    position: fixed;
    top: 60px;
    right: 7px;
    animation: moving-part-animation 1s infinite;
}

.theme-toggle-container .spiral-arrow {
    width: 50px;
    transform: rotate(-90deg);
}

.theme-toggle-container .note {
    position: fixed;
    font-size: var(--font-size-toggle-theme-note);
    color: var(--color-pronouns);
    top: 110px;
}

@keyframes moving-part-animation {
    0% {
	top: 60px;
    }

    50% {
	top: 70px;
    }

    100% {
	top: 60px;
    }
}
