body {
    font-family: JetBrainsMono Nerd Font Regular, monospace;
    color: #b0bec5;
    background-image: url("../images/background.png");
    margin: 4%;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-content: center;
    place-items: center;
}

.container {
    width: 90%;
    height: 75%;
    background-color: #282c34aa;
    border-radius: 1%;
    display: flex;
    padding: 5%;
    box-shadow: 0px 0px 0px 1px #b0bec5;
}

.image-container {
    margin-left: calc(10%);
    margin-top: 0%;
    width: 30%;
    height: auto;
    font-size: 10px;
    display: flex;
    align-items: center;
    padding-right: 5%;
}

.github-profile-picture {
    border: 5px dashed white;
    border-radius: 10%;
    height: 35%;
    animation: github-profile-picture-border-animaton 1s infinite;
}

@keyframes github-profile-picture-border-animaton {
    50% {
        border-style: dotted;
    }
}

.github-profile-picture-text {
    margin-left: 5%;
    font-size: 9px;
    font-family: JetBrainsMono Nerd Font Italic, monospace;
}

.base-information {
    border-left: 2px solid #212121;
    border-radius: 3%;
    padding-left: 5%;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.base-information-introduction {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 20px;
    line-height: 32px;
    text-align: justify;
}

.scroll-down-text {
    display: flex;
}

.scroll-down-text * {
    margin-left: 5%;
}

.scroll-down-arrow {
    animation: scroll-down-arrow-animation 0.5s ease-out infinite;
}

@keyframes scroll-down-arrow-animation {
    50% {
        padding-top: 1%;
    }
}

.favorite-programming-languages-container {
    margin-top: 25%;
    text-align: center;
    width: 100%;
}

.favorite-programming-language {
    padding-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    place-items: center;
}

.favorite-programming-language-icon {
    font-size: 64px;
    margin-right: 5%;
}

.favorite-programming-language-text {
    font-size: 24px;
    font-family: JetBrainsMono Nerd Font Italic;
}

.separator {
    margin-top: 5%;
    font-size: 16px;
}

.favorite-editors-container {
    margin-top: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    place-content: center;
    width: 100%;
}

.favorite-editors {
    display: flex;
    justify-content: center;
    width: 100%;
    place-content: center;
    place-items: center;
    justify-items: center;
    height: 100%;
}

.favorite-editor {
    margin-top: 25%;
    width: 100%;
    height: 100%;
    text-align: center;
    place-content: center;
    justify-content: center;
    place-items: center;
    background-color: #212121;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid #b0bec5;
}

.favorite-editor:hover {
    animation: my_animation 0.2s ease-in-out 1 forwards;
}

@keyframes my_animation {
    100% {
        background-color: #282c34aa;
        box-shadow: 0px 0px 50px 1px #212121;
    }
}

.favorite-editor-icon:hover {
    cursor: pointer;
}

.favorite-editor-text:hover {
    cursor: pointer;
}

.favorite-editor-neovim-cursor, .favorite-editor-visual-studio-code-cursor {
    display: none;
}

.favorite-editor-small-text {
    margin-top: 5%;
    font-size: 24px;
}

.favorite-editor-description {
    margin-top: 20%;
    font-size: 16px;
    text-align: justify;
    width: 50%;
}

.favorite-editor-neovim-note {
    margin-top: 10%;
    font-size: 10px;
    width: 50%;
    height: -25%;
    text-align: center;
    font-family: JetBrainsMono Nerd Font Italic;
}

.spinning-thing {
    animation: spin 1s infinite;
}

.current-active-projects {
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    justify-items: center;
    place-items: center;
    place-content: center;
    width: 80%;
}

.current-active-projects-container {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.current-active-project {
    padding-left: 1%;
    padding-right: 1%;
}

.current-active-project-preview {
    height: 30%;
    border: 1px solid #b0bec5;
    border-radius: 5px;
}

.current-active-project-text {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.current-active-project-description {
    margin-top: 5%;
    font-size: 16px;
    text-align: justify;
    width: 50%;
    font-family: JetBrainsMono Nerd Font Italic;
}

@keyframes spin {
    100% {
        rotate: 360deg;
    }
}

.socials {
    margin-top: -10%;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.socials-container {
    display: flex;
    text-align: center;
    width: 50%;
    margin-top: 5%;
}

.social {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.social-text {
    font-size: 20px;
    color: #89ddff;
}

@font-face {
    font-family: "JetBrainsMono Nerd Font Regular";
    src: url("../font/JetBrainsMonoNerdFont-Regular.ttf");
}

@font-face {
    font-family: "JetBrainsMono Nerd Font Italic";
    src: url("../font/JetBrainsMonoNerdFont-Italic.ttf");
}

@media (any-pointer: coarse) {
    body {
        display: flex;
        justify-items: center;
        place-items: center;
    }
    .container {
        flex-direction: column;
        place-items: center;
        justify-content: center;
        height: 100%;
    }

    .base-information {
        border-left: none;
        border-top: 2px solid #212121;
        padding-left: 0%;
        align-items: center;
    }
}